

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    
     padding-bottom: 20px;
     background-image: url("../img/winter1.jpg");
	 background-repeat: repeat
	
     }
       
     .jumbotron
     {
     background-color: #86E6FF;    
     }




.stopka

{
	 width: 100%;
	 height: auto;
	 background-color: #38465e;
	 color:#fff;
	 padding-top:20px;
	 padding-left:10px ;
	 padding-right:10px;	
	 padding-bottom:10px;	
	 margin-top:20px ;
	 margin-right:0px;
	 margin-left:0px ;

	
	
}
.logo
{
	
	width: 100%;
	height: auto;
	padding-left:0px;
	padding-right:0px;
	
}
	
.nocleg
	{
	   padding-top:20px;
	   padding-bottom:20px;
	   margin-top:10px;
	   /*border: 2px solid black;*/
	   background-color: #FFFFFF;
	}
	
h3.nocleg{
	padding-top:0px;
	padding-bottom:0px;
	text-align: center;
	border: 0px solid black;
	font-weight: 800;
	
}
img
{
	width: 100%;
	height: auto;
	
	
}

button.nocleg {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 20px;
   font-weight: 100;
   padding: 10px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 0 1px 16px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

button:hover.nocleg {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}



.instruktor
	{
      position: relative;
	   padding-top:20px;
	   padding-bottom:20px;
	   margin-top:10px;
	   /*border: 2px solid black;*/
	   background-color: #FFFFFF;
	}




.instruktor-opis
  { 
  
  text-align: justify;
  margin-top: 20px;
   

}

.menu{
   background-color:#222;
   margin-bottom: 0px;  
   border-radius: 4px;
   border: 1px solid transparent;
}

.navbar-inverse{

   
   margin-bottom: 0px;
   border-radius: 0px;
   border: 0px solid transparent
}

.dropstyle
{
   color: #888;
   text-decoration: none;
   background-color:#222;
   
}

.dropstyle:hover
{
   text-decoration: none;
   color:white;
}



 
 /* Page content */
 .content {
   padding: 16px;
 }
 
 /* The sticky class is added to the navbar with JS when it reaches its scroll position */
 .sticky {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 200;
 }
 
 /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
 .sticky + .content {
   padding-top: 60px;
 }