

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
     padding-top: 50px;
     padding-bottom: 20px;
     background-color: #E0FFFF;  
     }
       
     .jumbotron
     {
     background-color: #86E6FF;    
     }














